/* global css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    font-family: 'Schibsted Grotesk';
}
.h1{
    font-size: 48px;
}
.h2{
    font-size: 36px;
}
.h3{
    font-size: 24px;
}
.h4{
    font-size: 16px;
}
.h5{
    font-size: 14px;
}
p{
    font-size: 16px;
}
body{
    font-family: 'Schibsted Grotesk';
}
a {
    text-decoration: none;
}
.btn{
    border-radius:30px;
    width: 160px;
    margin-top: 10px;
    padding: 16px 30px;
    background-color: #fff;
    font-family: 'Schibsted Grotesk';
    color: #1065DC;
    font-weight: 700;
    transition: background-color 0.4s ease;
}
.btn:hover{
    background-color: #ececec;
    color: #006aff;
}
/* header */
header{
    width: 100%;
    background-color: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header i{
    font-size: 30px;
    color: #1065DC;
    padding: 5px 11px;
}
/* header end */

/* home */
.home-container{
    width: 100%;
    height: 700px;
    background-image: url(../assets/home-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    text-align: center;
}
.home-content{
    padding-top: 250px;
    padding-bottom: 80px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.home-content .h1{
    color: #fff;
}
.home-content .h4{
    color: #fff;
}

/* home end */

/* list start */

.about-section{
    width: 100%;
    background-color: #fff;

}
.list-container{
    width: 75%;
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
.list-box{
    width: 30%;
    padding: 32px;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    transition: background-color 0.4s ease;
}
@media (max-width:768px){
    .list-container{
         flex-direction: column;
    }
    .list-box{
         width: 100%;
        margin-top: 10px;
    }
}
.list-box .h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-box p{
    padding-top: 10px;
    padding-bottom: 30px;
    color: #000;
}
.list-box a{
    color: #143E7F;
    font-weight: 600;
}
.list-box:hover{
    background-color: #1065DC;
}
.list-box:hover .h3{
    color: #fff;
}
.list-box:hover p{
    color: #fff;
}
.list-box:hover a{
    color: #fff;
}
.list-box:hover svg path{
    fill: #fff;
}

/* second list */


.list-container2{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.list-container2 h2{
    font-family: 'Schibsted Grotesk';
    font-size: 36px;
    text-align: center;
    padding-bottom:  40px;
}
.list-boxes{
    display: flex;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Schibsted Grotesk';
}
.list-box1{
    width: 40%;
    padding: 32px;
}
@media (max-width:768px){
    .list-boxes{
         flex-direction: column;
    }
    .list-box1{
        width: 100%}
        .list-container2{
            padding-bottom: 25px;
        }
}
.list-box1 h3{
    color: #1065DC;
    font-size: 64px;
}
.list-box1 h4{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-box1 p{
    width: 100%;
    font-size: 16px;
}

/* list end */
 /* team section start */
.team-section{
    width: 100%;
    background-color: #fff;
    padding-bottom: 80px;
}

.team-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.team-content{
    width: 40%;
}

.team-para{
    padding-top: 100px;
    font-family: 'Schibsted Grotesk';
}
.team-para h2{
    font-size: 24px;
    padding-bottom: 24px;
}
.team-para p{
    font-size: 16px;
    color: #000;
}
.team-btn{
    padding-top: 50px;
}
.team-img{
    max-width: 100%;
}
.team-img img{
    width: 100%;
}

@media (max-width:768px){
    .team-container{
         flex-direction: column;
    }
    .team-content{
        width: 100%;
    }
    .team-img{
        width: 100%;
        margin-top: 50px;
    }
    .team-para{
        padding-top: 25px;
    }
}
.btn1{
    border: #1065DC solid 1px;
    border-radius:30px;
    width: 160px;
    margin-top: 10px;
    padding: 16px 30px;
    background-color: #1065DC;
    font-family: 'Schibsted Grotesk';
    color: #fff;
    margin-right: 20px;
    font-weight: 600;
    transition: background-color 0.4s ease;
}
.btn1:hover{
    background-color: #143E7F;
}
.btn2{
    border: #EFF8FF solid 1px;
    border-radius:30px;
    width: 160px;
    margin-top: 10px;
    padding: 16px 30px;
    background-color: #EFF8FF;
    font-family: 'Schibsted Grotesk';
    color: #1065DC;
    font-weight: 600;
    transition: background-color 0.4s ease;
}
.btn2:hover{
    background-color: #ececec;
}
/* team section end */


/* brand section start */

.brand-section{
    width: 100%;
    background-color: #fff;
    padding-bottom: 50px;
}
.brand-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px){
    .brand-container{
        flex-wrap: wrap;
    }

}
/* brand section end */

/* about team section */
.about-team{
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
}
.about-team-container{
    display: flex;
}
.about-team-img{
    max-width: 100%;
}
.about-team-img img{
    max-width: 100%;
}

.about-team-content{
    width: 55%;
    background-color: #EFF8FF;
    padding-left: 69px;
    padding-top: 100px;
    font-family: 'Schibsted Grotesk';
}
.about-team-content .h3{
    color: #1065DC;
    padding-bottom: 24px;
}
.about-team-content p{
    width: 75%;
    color: #000;
    padding-bottom: 55px;
}
@media (max-width:768px){
    .about-team-container{
         flex-direction: column;
    }
    .about-team-content{
        width: 100%;
        padding-top: 50px;
         padding-bottom: 50px;
    }
    .about-team-content p{
        padding-bottom: 20px ;
    }
}
/* about team section end */

/* utilties section start */

.utilities-section{
    width: 100%;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.utilities-container{
    width: 80%;
    margin: 0 auto;
}
.utilities-content{
    width: 80%;
    margin: 0 auto;
    font-family: 'Schibsted Grotesk';
    text-align: center;
    padding-bottom: 50px;
}
.utilities-content h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 800;
}
.utilities-content p{
    width: 65%;
    margin: 0 auto;
    color: #000;
}
.utilities-list{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Schibsted Grotesk';
    padding-top: 50px;
}
.utilities-box{
    width: 30%;
    padding: 32px;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    transition: background-color 0.4s ease;
}
.utilities-box h1{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
}
.utilities-box p{
    color: #000;
    padding-bottom: 20px;
}
.utilities-box .arrow{
    display: none;
    transition: background-color 0.4s ease;
}
.utilities-box:hover{
    background-color: #EFF8FF;
}
.utilities-box:hover .arrow{
    display: block;
}
@media (max-width:768px){
    .utilities-list{
         flex-direction: column;
    }
    .utilities-box{
        width: 100%;
        margin-top: 10px;
    }
}
/* .utilities-box-2{
    width: 30%;
    margin-top: -50px;
    padding: 32px;
    border: 1px solid #EFF8FF;
    border-radius: 8px;
    background-color: #EFF8FF;
}
.utilities-box-2 .h3, p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000 !important;
} */
/* utilities section end */
/* projects and clients section start */
.projects-client-section{
    width: 100%;
    
}

.projects-client-container{
    width: 100%;
    background-color: #EFF8FF;
}
.projects-client-title{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}
.projects-client-title p{
    padding-top: 20px;
    width: 45%;
    margin: 0 auto;
    color: #000;
}
.project-img{
    width: 100%;
}
.project-img img{
    width: 100%;
}
/* projects and clients section end */


/* contact section start */
.contact-us-section{
    width: 100%;
    margin-top: -5px;
}
.contact-content{
    background-color: #1065DC;
    
}
.contact-content-list{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-family: 'Schibsted Grotesk';
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-list-box {
    padding: 20px;
    width: 32%;
}
.contact-list-box p{
    color: #fff !important;
}
.contact-list-box h1,p{
    color: #fff;
}
.contact-button{
    margin-top: 20px;
}
.contact-list-box1{
    width: 32%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}
.contact-list-box1 img{
    padding-bottom: 20px;
}
.contact-list-box1 h1{
    color: #1065DC;
    
}
.contact-list-box1 p{
    color: #000;
}
@media (max-width:768px){
    .contact-content-list{
         flex-direction: column;
    }
    
}
.contact-form{
    width: 100%;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-form .form-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width:768px){
    .contact-form .form-content{
         flex-direction: column;
    }
    .contact-list-box {
        width: 100%;
    }
    .contact-list-box1{
        width: 100%;
        margin-top: 10px;
    }
}


.contact-form p{
    padding-top: 10px;
    color: #000;
}
.form{
    padding-top: 20px;
}
.form .email{
    border: 1px solid #EFF8FF;
    border-radius: 30px;
    background-color: #EFF8FF;
    padding: 16px 270px 16px 30px;
}
@media (max-width:768px){
    .form .email{
    padding: 16px 10px 16px 30px;
    margin-bottom: 20px;
}
}
@media (min-width:1024px) and (max-width:1346px){
    .form .email{
    padding: 16px 7px 16px 30px;
    margin-bottom: 20px;
}
}


/* contact section end */
/* footer start */
.footer{
    width: 100%;
    background-color: #000;
}
footer{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px){
    footer{
         flex-direction: column;
    }
    
}
footer .icons ul{
    display: flex;
}

footer .icons ul li{
    list-style:  none;
    padding-right: 25px;
    padding-top: 5px;
}
footer .copyright{
    padding-top: 10px;
}



/* contact page */


/* main start */
main{
    padding-bottom: 50px;
}
.main{
    width: 100%;
    padding-top: 100px;
}
.contact-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    padding-bottom: 100px;
}
@media(max-width: 768px){
    .contact-container{
         grid-template-columns: auto;
         gap: 20px;
    }
    .contact-box{
        width: 100% ;
    }
}

.contact-box{
    padding: 32px;
    border: 1px solid #1065DC;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.4s ease;
}
.contact-box .h4{
    padding-top: 10px;
}
.contact-box p{
    color: #000;
}
.contact-box:hover{
    background-color: #1065DC;
}
.contact-box:hover .h4{
    color: #fff;
}
.contact-box:hover p{
    color: #fff;
}
.contact-box:hover svg rect{
    fill: #2173E5;
}
.contact-box:hover svg path{
    fill: #fff;
}
/* .contact-box1{
    padding: 32px;
    border: 1px solid #1065DC;
    border-radius: 8px;
    text-align: center;
    background-color: #1065DC;
}
.contact-box1 img{
    padding-bottom: 20px;
}
.contact-box1 .h4{
    color: #fff;
}
.contact-box1 .para {
    color: #fff  !important;
} */
.arvo-font{
    font-family: 'Arvo';
}

/* main end */


/* contact-content */
.contact-page-content{
    margin: 0 auto;
    text-align: center;
    
}
.contact-page-content p{
    width: 40%;
    margin: 0 auto;
}
.contact-form-container{
    width: 50%;
    margin: 0 auto;
}
/* form */
.msg{
    padding-bottom: 15px;
}
.form-btn{
    border: #1065DC solid 1px;
    border-radius: 30px;
    width: 120px;
    margin-top: 10px;
    padding: 16px 30px;
    background-color: #1065DC;
    font-family: 'Schibsted Grotesk';
    color: #fff;
    font-weight: 600;
    transition: background-color 0.4s ease;
}
.form-btn:hover{
background-color: #143E7F;
}


/* about us page start */
.about-content-container{
    width: 100%;
}
.aboutus-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.aboutus-content .h3{
    color: #1065DC;
}
.aboutus-content .h1{
    font-weight: 700;
}
.aboutus-content p{
    color: #000;
}
/* about us review section */
/* review counter */
.review-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 100px;
}
.review-container img{
    width: 100%;
}
@media (max-width:768px){
    .review-container img{
        margin-top: 30px;
    }
}
.review-counter{
    background-color: #EFF8FF;
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 10px;
}

/* specialist */
.sp-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.sp-container .h2{
    width: fit-content;
    padding-bottom: 20px;
}
.sp-content{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 10px;
    transition: background-color 0.4s ease;
}
.sp-content .h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.sp-content p{
    color:  #000;
}
.sp-content:hover{
    background-color: #1065DC;
    border: none;
}
.sp-content:hover .h3{
    color: #fff;
}
.sp-content:hover p{
    color:  #fff;
}
.sp-content:hover path{
    fill:  #fff;
}

/* sp reason  */
.sp-r-content p{
    color: #000;
}

.sp-r-content ul{
    padding-left: 0;
    padding-bottom: 50px;
}
.sp-r-content ul li {
    list-style: none;
    padding-top: 10px;
}
.sp-r-content ul li svg{
    margin-right: 20px;
}
/* .sp-team-img{
    width: 540px;
} */

/* visit us content  */
.visit-us-container{
    width: 80%;
    margin: 0 auto;
}
.visit-us-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.visit-content2 p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
}
@media (max-width:768px){
    .visit-us-content{
         flex-direction: column;
    }
}
.visit-img{
    width: 100%;
    padding-bottom: 50px;
}
.visit-img img{
    width: 100%;
}
.visit-info{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.visit-location .h3{
    color: #fff;
}
.visit-location-details a p{
    color: #fff;
}
.visit-map{
    position: relative;
}
.visit-info{
    position: absolute;
    bottom: 50px;
    left: 20px;
}
@media (max-width:768px){
    .visit-info{
         flex-direction: column;
    }
}

/* team section */
.team-abt-section{
    width: 80%;
    margin: 0 auto;
}
.team-pg-content{
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px){
    .team-pg-content{
         flex-direction: column;
    }
}

.team-mem-img{
    width: 100%;
}
.team-mem-img img{
    width: 100%;
}
.team-mem-content{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 50px;
}
.team-mem-content p{
    color: #000;
    width: 90%;
}


/* blog page */

.blog-container{
    width: 80%;
    margin: 0 auto;
}
.blog-nav-container{
    width: 60%;
    margin: 0 auto;
}

.blog-nav-container ul{
    padding-left: 0;
    gap:  27px;
}
.nav .nav-item .nav-link{
    color: #000;
}
.nav-pills .nav-link.active{
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    border: #000 solid 1px;
}
.blog-profile{
    padding-top: 10px;
    display: flex;
}
.blog-prof-detail{
    padding-left: 20px;
}
.blog-date{
    font-size: 13px;
}